*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
}

.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.profile-icon{
    width: 45px;
    height:45px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 3px;
}