.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar__logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar__buttons {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar__buttons li {
    margin: 0 10px;
  }
  
  .navbar__buttons li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
  